<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project.css">

</head>
<body>

<!--我的问题界面-->

<!--导航栏-->
<div th:include="navigation :: nav"></div>
<!--第二种方法:<div th:insert="~{navigation.html :: nav}"></div>-->


<div style="width:90%;margin: 0 auto;" class="container">

    <!--主面板-->

    <div class="container-fluid" style="margin:30px;">
        <div class="row">
            <!--个人中心-->
            <div class="col-md-9">
                <h2 th:text="${sectionName}"></h2>
                <hr>
                <!--我的问题列表-->
                <div class="media" th:each="question:${session.myQuestion.getQuestionList()}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" width="64px" height="64px"
                                 th:src="${question.user.getAvatarUrl()}" th:alt="${question.user.getName()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" >
                            <a th:href="'/question/'+${question.getId()}" th:text="${question.getTitle()}"></a>
                        </h4>

                        <div th:text="${question.getDiscription()}"></div>
                        <span th:text="${question.getCommentCount()}+' 个评论  |  '+
                                    ${question.getViewCount()}+' 次浏览  |  '+
                                    ${question.getLikeCount()}+' 关注  |'"></span>
                        最后更新: <span th:text="${#dates.format(question.getGmtModified(),'  YYYY-MM-dd HH:mm')}"></span>
                    </div>
                    <hr>
                </div>

                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${session.myQuestion.isShowFirstPage()}">
                            <a th:href="'/profile/questions?currentPage=1'" aria-label="Previous">
                                <span aria-hidden="false">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${session.myQuestion.isShowLast()}">
                            <a th:href="'/profile/questions?currentPage='+${session.myQuestion.getCurrentPage()-1}" >
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                            </a>
                        </li>

                        <li th:each="num : ${session.myQuestion.getPages()}" th:class="${session.myQuestion.getCurrentPage()==num}?'active' : ''">
                            <a  th:text="${num}" th:href="'/profile/questions?currentPage='+${num}"></a>
                        </li>
                        <li th:if="${session.myQuestion.isShowNext()}">
                            <a th:href="'/profile/questions?currentPage='+${session.myQuestion.getCurrentPage()+1}" >
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            </a>
                        </li>


                        <li th:if="${session.myQuestion.isShowEndPage()}">
                            <a th:href="'/profile/questions?currentPage='+${session.myQuestion.getPageCount()}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>

            <!--列表区-->
            <div class="col-md-3">
                <div class="list-group">

                    <a href="/profile/questions" class="list-group-item" th:class="${section=='questions'} ? 'list-group-item active' : 'list-group-item'">
                        我的问题
                        <span class="badge" th:text="${session.totleCount}"></span>
                    </a>
                    <a href="/profile/reply" class="list-group-item" th:class="${section=='reply'} ? 'list-group-item active' : 'list-group-item'">
                        最新回复
                        <span class="badge">15</span>
                    </a>
                </div>

            </div>


        </div>
    </div>


</div>

</body>
</html>