<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project.css">

</head>
<body>


<!--导航栏-->
<div th:include="navigation :: nav"></div>
<!--第二种方法:<div th:insert="~{navigation.html :: nav}"></div>-->


<div style="width:90%;margin: 0 auto;" class="container">

    <!--主面板-->

    <div class="container-fluid" style="margin:30px;">
        <div class="row">
            <!--个人中心-->
            <div class="col-md-9">
                <h2 th:text="${question.title}"></h2>

                <span >刈剑丶社区 | 作者:
                    <a th:text="${question.user.getName()}" href="/"></a>
                </span>

                <span th:text="'  | 发布时间:  '+${#dates.format(question.getGmt_create(),'YYYY-MM-dd HH:mm')}
                        +' | 阅读数: '+ ${question.getView_count()}">

                </span>

                <hr>

                问题描述:   <span th:text="${question.discription}"></span>
                <hr>

                <div class="col-md-12">
                    <a th:href="@{'/publish/'+${question.id} }" th:if="${question.creater_id == session.user.getId()}" class="community-menu">
                        <span class="glyphicon glyphicon-pencil"></span>
                        编辑
                    </a>


                </div>


            </div>

            <!--列表区-->
            <div class="col-md-3" style="margin-top:50px;">
                <h4>发起人</h4>
                <img  th:src="${question.user.getAvatar_url()}" style="width:40px;height:40px;border-radius:5px;">
                <a th:text="${question.user.getName()}"></a>

                <hr>

                <h4>相关问题</h4>

            </div>


        </div>
    </div>


</div>

</body>
</html>