<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project.css">
    <script src="/js/project.js"></script>

</head>
<body>


<!--导航栏-->
<div th:include="navigation :: nav"></div>
<!--第二种方法:<div th:insert="~{navigation.html :: nav}"></div>-->


<div style="width:90%;margin: 0 auto;" class="container">

    <!--主面板-->

    <div class="container-fluid" style="margin:30px;">
        <div class="row">
            <!--问题详情-->
            <div class="col-md-9">
                <h2 th:text="${question.title}"></h2>
                <!--隐藏信息域(问题ID和评论类型)-->
                <input type="hidden" id="questionId" th:value="${question.id}">
                <input type="hidden" id="type" value="1">

                <span>刈剑丶社区 | 作者:
                    <a th:text="${question.user.getName()}" href="/"></a>
                </span>

                <span th:text="'  | 发布时间:  '+${#dates.format(question.getGmtCreate(),'YYYY-MM-dd HH:mm')}
                        +' | 阅读数: '+ ${question.getViewCount()}">
                </span>
                <hr>
                <span th:text="${question.discription}"></span>
                <hr>

                <div class="col-md-12">
                    <div th:if="${session.user != null}">
                        <a th:href="@{'/publish/'+${question.id} }"
                           th:if="${question.createrId == session.user.getId()}" class="community-menu">
                            <span class="glyphicon glyphicon-pencil"></span>
                            编辑
                        </a>
                        <hr>
                    </div>
                </div>

                <!--评论列表-->
                <h3 th:text="${question.getCommentCount()}+'个回复'"></h3>
                <hr>

                <!--这里是一整个回复-->
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" th:src="${question.user.getAvatarUrl()}" style="width:40px;height:40px;border-radius:5px;">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.user.getName()}"></h4>
                        <p>我就路过一下</p>
                        <div>
                            <a class="btn btn-default" href="#" role="button">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                0           <!--点赞数-->
                            </a>
                            <a class="btn btn-default" href="#" role="button">
                                <span class="glyphicon glyphicon-comment"  aria-hidden="true"></span>
                                0            <!--评论数-->
                            </a>
                            <span  style="float: right;"
                                    th:text="'回复时间:  '+${#dates.format(question.getGmtCreate(),'YYYY-MM-dd HH:mm')}">
                            </span>
                        </div>
                    </div>
                </div>
                <!--这里是一整个回复-->

                <hr>
                <!--评论区-->
                <div th:if="${session.user == null}" style="text-align: center;">
                    注册或登录后才能执行评论操作
                </div>

                <div id="comment" th:if="${session.user != null}">
                    <img th:src="${session.user.getAvatarUrl()}" style="width:40px;height:40px;border-radius:5px;">
                    <span th:text="${session.user.getName()}"></span>
                    <!--异步刷新-->

                    <textarea class="form-control" rows="6" style="margin:10px 0;" id="content"></textarea>
                    <button type="button" class="btn btn-success"
                            onclick="insertComment()"
                            style="float:right;margin-bottom:10px;">
                        回复
                    </button>

                </div>



            </div>

            <!--列表区-->
            <div class="col-md-3" style="margin-top:50px;">
                <h4>发起人</h4>
                <img th:src="${question.user.getAvatarUrl()}" style="width:40px;height:40px;border-radius:5px;">
                <a th:text="${question.user.getName()}"></a>

                <hr>

                <h4>相关问题</h4>

            </div>


        </div>
    </div>


</div>

</body>
</html>